  <div class="col-xs-4">
    <h1>User info</h1>
      <%= attachment_image_tag user, :profile_image, :fill, 60, 60, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "img/no_image.jpg" %>
    <table class="table">
      <tbody>
        <tr>
          <th>name</th>
          <th><%= user.name %></th>
        </tr>
        <tr>
          <th>introduction</th>
          <th><%= user.introduction%></th>
        </tr>
      </tbody>
    </table>


<% if user.id == current_user.id %>
  <%= link_to edit_user_path(user) do%>
    <span class="col-xs-12 btn btn-default glyphicon glyphicon-wrench">
    </span>
  <% end %>
<% end %>


<h1>New shoes</h1>

<%= form_for(shoe) do |f| %>
  <h4>Title</h4>
      <%= f.text_field :title, class:"col-xs-12"%>
  <h4>Opinion</h4>
    <%= f.text_area :body, class:"col-xs-12" %>
  <h4>画像</h4>
    <%= f.attachment_field :shoe_image, class:"col-xs-12"%>
  <h4>ブランド</h4>
    <%= f.collection_check_boxes(:brand_ids, Brand.all, :id, :name) do |brand| %> 
      <%= brand.label do %>
        <%= brand.check_box %>
        <%= brand.text %>
      <% end %>
    <% end %>
  <h4>サイズ</h4>
    <%= f.collection_check_boxes(:size_ids, Size.all, :id, :name) do |size| %> 
      <%= size.label do %>
        <%= size.check_box %>
        <%= size.text %>
      <% end %>
    <% end %>
    <h4>タイプ</h4>
    <%= f.collection_select(:type_ids, Type.all, :id, :name) do |type| %> 
    <% end %>







   <h4 class="col-xs-12"></h4>
    <%= f.submit 'Create shoes', class:"btn btn-primary col-xs-12" %>
<% end %>

</div>