<div class="container">
<div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
      <div class="text-center">
        <h2>Users</h2>
      </div>
      <table class="table table-hover table-inverse">
          <tr>
              <th>image</th>
              <th></th>
              <th>name</th>
              <th></th>
              <th>詳細</th>
              <th></th>
              <th></th>
              <th></th>
              <th></th>
          </tr>
        <% @users.each do |user| %>
          <tr>
            <th>
              <%= attachment_image_tag user, :profile_image, size: "100x100", format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "img/no_image.jpg" %>
            </th>
            <th></th>
            <th align="left"><%= user.name %></th>
            <th></th>
            <th><%= link_to "Show", user_path(user.id) %></th>
            <th></th>
            <th>
              <%= link_to follow_user_path(user) do %>
              follows
                <%= user.user_relationships.count %>
              <% end %>
            </th>
            <th>
              <%= link_to follower_user_path(user) do %>
              followers
                <%= user.reverse_of_user_relationships.count %>
              <% end %>
            </th>
            <th>
              <% unless current_user == user %>
                <% if current_user.following?(user) %>
                  <%= form_for(current_user.user_relationships.find_by(follow_id: user.id), html: { method: :delete }) do |f| %>
                    <%= hidden_field_tag :follow_id, user.id %>
                    <%= f.submit 'フォロー外す', class:'btn btn-danger btn-block'%>
                  <% end %>
                <% else %>
                  <%= form_for(current_user.user_relationships.build) do |f| %>
                    <%= hidden_field_tag :follow_id, user.id %>
                    <%= f.submit 'フォローする', class:'btn btn-primary btn-block' %>
                  <% end %>
                <% end %>
              <% end %>
            </th>
          </tr>
        <% end %>
      </table>
    </div>
    <div class="col-xs-1"></div>
</div>
</div>