<div class="row">
  <h2 class="text-center">New shoes</h2>
  <br>
  <br>
  <div class="col-xs-1"></div>
    <div class="col-xs-5">
      <%= form_for(@shoe) do |f| %>
        <h3>Title</h3>
          <%= f.text_field :title, class:"col-xs-12"%>
        <h3>Opinion</h3>
          <%= f.text_area :body, rows: 15, class:"col-xs-12" %>
        <h3>ShoesImage</h3>
          <%= f.attachment_field :shoe_image, class:"col-xs-12"%>
    </div>
    <div class="col-xs-5">
        <h3>Brand</h3>
          <br>
          <%= f.collection_check_boxes(:brand_ids, Brand.all, :id, :name) do |brand| %> 
            <%= brand.label do %>
              <%= brand.check_box %>
              <%= brand.text %>
            <% end %>
          <% end %>
          <br>
          <br>
        <h3>Size</h3>
          <br>
          <%= f.collection_check_boxes(:size_ids, Size.all, :id, :name) do |size| %> 
            <%= size.label do %>
              <%= size.check_box %>
              <%= size.text %>
            <% end %>
          <% end %>
          <br>
          <br>
        <h3>ShoesType</h3>
          <br>
          <br>
          <%= f.collection_select(:type_ids, Type.all, :id, :name) do |type| %> 
          <% end %>
    </div>
    <div class="col-xs-1"></div>
</div>
  <br>
  <br>
<div class="row">
  <h2 class="text-center">
        <%= f.submit 'Create shoes', class:"btn btn-primary" %>
      <% end %>
  </h2>
</div>


