<div class="row">
    <h2 class="text-center">New shoes</h2>
      <br>
      <br>
    <div class="col-xs-1"></div>
    <div class="col-xs-5">
      <%= form_for(@shoe) do |f| %>
        <h3>Title</h3>
          <%= f.text_field :title, class:"col-xs-12"%>
        <h3>Opinion</h3>
          <%= f.text_area :body, rows: 15, class:"col-xs-12" %>
        <h3>ShoesImage</h3>
          <%= f.attachment_field :shoe_image, class:"col-xs-12"%>
    </div>

    <div class="col-xs-5">
      <h3 align="text-center">Shoes details</h3>
      <br>
      <br>
      <table class="table">
        <tr>
          <th><h3>Brand</h3></th>
          <th><%= f.collection_select(:brand_ids, Brand.all, :id, :name) do |brand| %><% end %>
          </th>
        </tr>
        <tr>
          <th><h3>Size</h3></th>
          <th><%= f.collection_select(:size_ids, Size.all, :id, :name)  do |size| %><% end %>
          </th>
        </tr>
        <tr>
          <th> <h3>ShoesType</h3></th>
          <th><%= f.collection_select(:type_ids, Type.all, :id, :name)  do |type| %><% end %>
          </th>
        </tr>
        <tr>
          <th> <h3>LeatherType</h3></th>
          <th><%= f.collection_select(:type_ids, Leather.all, :id, :name)  do |type| %><% end %>
          </th>
        </tr>
      </table>
   </div>


  <h2 class="text-center">
      <%= f.submit 'Create shoes', class:"btn btn-primary" %>
      <% end %>
  </h2>
  <div class="col-xs-1"></div>


