<div class="row">
  <div class="text-center">
    <font size="7">Leather Shoes</font>
  </div>
</div>
<br>
<div class="row">
	<div class="col-xs-12">
    <div class="container_top">
      <div class="theTarget">
        <div style="background-image: url(<%= asset_path 'img/shoes.21.jpg' %>)"></div>
        <div style="background-image: url(<%= asset_path 'img/shoes.23.png' %>)"></div>
        <div style="background-image: url(<%= asset_path 'img/shoes26.jpg' %>)"></div>
        <div style="background-image: url(<%= asset_path 'img/shoes.24.jpg' %>)"></div>
        <div style="background-image: url(<%= asset_path 'img/shoes.20.jpg' %>)"></div>
      </div>
    </div>
  </div>
<h2 class="text-center"><%= link_to "登録はこちらから",new_user_registration_path, class:'btn btn-primary' %></h2>
</div>