  <div class="row">
    <div class="text-center">
      <h2>⁑ Leather Shoes ⁑</h2>
    </div>
  </div>
  <br>
  <div class="row">
  	<div class="col-xs-12">
      <div class="container_top">
        <div class="theTarget">
          <div style="background-image: url(<%= asset_path 'img/shoes.21.jpg' %>)"></div>
          <div style="background-image: url(<%= asset_path 'img/shoes.23.png' %>)"></div>
          <div style="background-image: url(<%= asset_path 'img/shoes26.jpg' %>)"></div>
          <div style="background-image: url(<%= asset_path 'img/shoes.24.jpg' %>)"></div>
          <div style="background-image: url(<%= asset_path 'img/shoes.20.jpg' %>)"></div>
        </div>
      </div>
    </div>

  <%= link_to "Log in",new_user_session_path %>
  <%= link_to "Sign Up",new_user_registration_path %>
</div>