<div class="row">
  <div class="col-xs-3"></div>
    

    <div class="col-xs-6">
    


      <p class="admin-page-title-genre">サイズ一覧・追加</p>

	  <%= form_for(@size, url: admin_sizes_path) do |f| %>
		  <label>サイズ</label>
		  <%= f.text_field :name %>
		<%= f.submit '追加',{class: 'btn btn-info'} %>
	  <% end %>
	  


	  <table class="table table-hover">
		<thead>
			<tr class="active">
				<th>サイズ</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<% @sizes.each do |size| %>
			<tr>
				<td>
					<%= size.name %>
				</td>
				<td>
				</td>
				<td class="text-right">
					<%= link_to "編集する", edit_admin_size_path(size), {class: 'btn btn-primary'} %>
				</td>
			</tr>
			<% end %>
		</tbody>
	  </table>


</div>


<div class="col-xs-3"></div>
</div>