<h1 class="text-center">メッセージ</h1>
<div class="col-xs-1"></div>
<div class="row">
  <div class="col-xs-10">
  <h4>参加者</h4>
  <% @entries.each do |e| %>
  <h5><strong><a href="/users/<%= e.user.id %>"><%= e.user.email%>さん</a></strong></h5>
  <% end %>
  </div>
</div>

<div class="row">
    <div class="col-xs-10">
    <% if @messages.present? %>
      <% @messages.each do |m| %>
        <strong><%= m.content %></strong>
        <small>by <strong><a href="/users/<%= m.user_id %>"><%= m.user.email %>さん</a></strong></small>
        <hr>
      <% end %>
    <% else %>
      <h3 class="text-center">メッセージはまだありません</h3>
    <% end %>

    <%= form_for @message do |f| %>
      <%= f.text_field :content, :placeholder => "メッセージを入力して下さい" , :size => 70 %>
      <%= f.hidden_field :room_id, :value => @room.id %>
      <br>
      <%= f.submit "投稿する", class:'btn btn-primary' %>
    <% end %>
    <%= link_to "ユーザー一覧に戻る", users_path %>
</div>
</div>
<div class="col-xs-1"></div>