<div class="row">
  <div class="col-xs-12">
    <div class="text-center">
    <h2>Shoes Index</h2>
  </div>
    <table class="table">
        <tr>
          <% @shoes.each do |shoe| %>
          <th>
              <%= link_to user_path(shoe.user) do%>
              <%= attachment_image_tag(shoe, :shoe_image,fallback: "img/no_image.jpg",size:"350x250") %>
              <%= attachment_image_tag shoe.user, :profile_image, size: "60x60", format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "img/no_image.jpg" %>
              <% end %>
              <%= link_to shoe.title, shoe_path(shoe.id) %>
          </th>
       </tr>
     <% end %>
    </table>
  <!-- kaminariページネーション記述-->
  <%= paginate @shoes %>
</div>
</div>



