<div class="container">
  <% if admin_signed_in? %>
     <div id="sp-menu">
      <ul>
        <br>
        <br>
        <li></li>
        <li><h2>MENU</h2></li>
        <li>
          <h4><%= link_to "Brand", admins_brands_path %></h4>
        </li>
        <li>
          <h4><%= link_to "Size", admins_sizes_path %></h4>
        </li>
        <li>
          <h4><%= link_to "ShoeType", admins_types_path %></h4>
        </li>
        <li>
          <h4><%= link_to "LeatherType", admins_leathers_path %></h4></li>
        <li>
          <h4><%= link_to "Logout", destroy_admin_session_path, method: :delete %></h4></li>
        <li>
          <h4><%= link_to "お問い合わせ", inquirys_new_path %></h4></li>
      </ul>
    </div>
    <div id="hm-icon">
      <a class="menu-trigger" href="#">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>
  <% else %>
      <span style= "color: white;">ようこそ、ゲストさん！</span>
      <div id="sp-menu">
        <br>
        <br>
        <ul>
          <li></li>
          <li><h2>MENU</h2></li>
          <li><h4><%= link_to "Home", root_path %></h4></li>
          <li><h4><%= link_to "About", about_path %></h4></li>
          <li><h4><%= link_to "sign up", new_user_registration_path %></h4></li>
          <li><h4><%= link_to "login", new_user_session_path %></h4></li>
          <li><h4><%= link_to "お問い合わせ", inquirys_new_path %></h4></li>
        </ul>
      </div>
    <div id="hm-icon">
      <a class="menu-trigger" href="#">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>
  <%end%>
</div>
