<div class="container">
       <nav class="nav navbar-nav navbar-left">
         <%#= image_tag "img/test1.jpg", size: '250x50', alt: "LeatherShoes" %>
       </nav>

       <% if admin_signed_in? %>
       <nav class="nav navbar-nav navbar-brand-center">
       </nav>
       <nav>
        <ul class="nav navbar-nav navbar-right">

          <div id="sp-menu">
        <ul>
        <li><h2>Search</h2></li>
        <li>
              <%= form_tag(search_path, method: :get) do %>
                <%= text_field_tag (:word) %>
                <%= select_tag 'range' ,options_for_select([
                  ['---選択してください---', ''],
                  ['User', '1'],
                  ['Shoe', '2']]) %>
                <%= select_tag 'search1', options_for_select([
                  ["前方一致","forward_match"],
                  ["後方一致","backward_match"],
                  ["完全一致","perfect_match"],
                  ["部分一致","partial_match"]]) %>
                <%= submit_tag "検索",class:'btn btn-primary' %>
              <% end %>
        </li>
        <li></li>
        <li><h2>MENU</h2></li>
        <li>
            <%= link_to "Users", admins_types_path %>
        </li>
        <li>
            <%= link_to "Brand", admins_brands_path %>
        </li>
        <li>
            <%= link_to "Size", admins_sizes_path %>
        </li>
        <li>
            <%= link_to "ShoeType", admins_types_path %>
        </li>
        <li>
            <%= link_to "LeatherType", admins_leathers_path %></li>
        <li>
            <%= link_to "Logout", destroy_admin_session_path, method: :delete %></li>
        <li>
            <%= link_to "お問い合わせ", inquirys_new_path %></li>
      </ul>
    </div>

    <div id="hm-icon">
      <a class="menu-trigger" href="#">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>

      </nav>
    <% else %>
      <nav class="nav navbar-nav navbar-brand-center">
        <span style= "color: white;">ようこそ、ゲストさん！</span>
      </nav>

        <div id="sp-menu">
      
        <ul>
          <li><h2>Search</h2></li>
        <li>
              <%= form_tag(search_path, method: :get) do %>
                <%= text_field_tag (:word) %>
                <%= select_tag 'range' ,options_for_select([
                  ['---選択してください---', ''],
                  ['User', '1'],
                  ['Shoe', '2']]) %>
                <%= select_tag 'search1', options_for_select([
                  ["前方一致","forward_match"],
                  ["後方一致","backward_match"],
                  ["完全一致","perfect_match"],
                  ["部分一致","partial_match"]]) %>
                <%= submit_tag "検索",class:'btn btn-primary' %>
              <% end %>
          </li>
        <li></li>
        <li><h2>MENU</h2></li>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "sign up", new_user_registration_path %></li>
        <li><%= link_to "login", new_user_session_path %></li>
        <li><%= link_to "お問い合わせ", inquirys_new_path %></li>
      </ul>
     </div>
     <div id="hm-icon">
      <a class="menu-trigger" href="#">
        <span></span>
        <span></span>
        <span></span>
      </a>
    </div>
     <%end%>
   </div>
