<!DOCTYPE html>
  <html lang="ja">
    <html>
      <head>
        <meta charset="UTF-8">
        <title>LeatherShoes</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
        <script src="https://kit.fontawesome.com/069a13743e.js" crossorigin="anonymous"></script>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application' %>
      </head>
      <body>
        <main>
          <%# if request.fullpath.include? "admin"  %>
            <%#= render 'layouts/admin_header' %>
          <%# else%>
            <%= render 'layouts/users_header' %>
          <%# end %>
          <div class="container">
          <%= yield %>
          </div>
        </main>
        <footer class="navbar">
          <div class="container text-right">
            <h4>©︎2020 LeatherShoes</h4>
          </div>
        </footer>
          <span id="back">
            <a href="#">
              <img tag="/assets/images/img/arrow.png">
            </a>
          </span>
      </body>
</html>