<!DOCTYPE html>
<html>
  <head>
    <title>Shoes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/069a13743e.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

     <nav class="navbar navbar-inverse">
      <div class="container-fluid">
       <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div id="slidemenu">
          <span class="nav navbar-nav navbar-left" style="color: white"><font size="4">&nbsp;Leather Shoes</font></span>

        <ul class="nav navbar-nav navbar-right" data-hover="dropdown" data-animations="zoomIn fadeIn fadeInUp fadeIn">


    <% if user_signed_in? %>
         <li class="">
          <%= link_to user_path(current_user.id) do %>
           <span class="glyphicon glyphicon-home" aria-hidden="true">
           </span>Home
           <% end %>
         </li>
         <li class="">
          <%= link_to users_path do%>
           <span class="glyphicon glyphicon-user" aria-hidden="true"></span>Users
           <% end %>
         </li>
         <li class="">
          <%= link_to shoes_path do %>
          <span class="glyphicon glyphicon-book" aria-hidden="true"></span>Shoes
          <% end %>
         </li>
         <li class="">
          <%= link_to destroy_user_session_path, method: :delete do %>
          <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>Logout
        <% end %>
        </li>
    <% else %>
         <li class="">
          <%= link_to root_path do %>
           <span class="glyphicon glyphicon-home" aria-hidden="true">
           </span>Home
           <% end %>
         </li>


　　　　　 <li class="">
           <%= link_to about_path do %>
           <span class="glyphicon glyphicon-link" aria-hidden="true"></span>About
           <% end %>
         </li>


         <li class="">
          <%= link_to new_user_registration_path do%>
           <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>sign up
           <% end %>
         </li>


         <li class="">
           <%= link_to new_user_session_path do %>
           <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>login
           <% end %>
         </li>
    <%end%>
  </ul>
       </div>
       </div>
      </div>
     </nav>




    <%= yield %>
  </body>
</html>
